@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville:ital@0;1&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Fredericka+the+Great&family=Manrope:wght@200;300;400;500;600;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Padyakke+Expanded+One&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Spray+Paint&family=Rufina:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

/*CSS rules to specify families

font-family: 'Aboreto', cursive;
font-family: 'Anonymous Pro', monospace;
font-family: 'Baskervville', serif;
font-family: 'Cabin', sans-serif;
font-family: 'DM Mono', monospace;
font-family: 'Economica', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Padyakke Expanded One', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rufina', serif;
font-family: 'Turret Road', cursive;
*/

body{
	margin: 0;
    z-index: 99;
    margin-left: 2vw;
    margin-right: 2vw;
    text-decoration: none;
	font-family: 'Roboto Mono', monospace;
    background: pink;
	color: black;
}

.oval {
  width: 160px;
  height: 40px;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  align-content: center;
  padding-top: 2.5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 14px;
  z-index: 100;
}

h1{
	font-size: 9.7vw;
	font-weight: 200;
	line-height: 1.1;
	letter-spacing: 0.01em;
	word-spacing: 0em;
	color: black;
	margin-top: 2vh;
	font-family: 'Manrope', sans-serif;
}

h2{
	font-size: 1.7vw;
	font-weight: 400;
	color: black;
	margin-top: 5vh;
	line-height: 1.15;
	border-style: solid;
  	border-width: 1.5px;
  	border-color: black;
  	border-radius: 40px;
  	padding: 1em;
}

h3{
	font-size: 1.7vw;
	font-weight: 400;
	line-height: 1.2;
	padding-top: 1vh;
	padding-left: 5em;
}

a{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

a:visited{
	color: black;
	text-decoration: none;
}

.homepage{
	font-size: 7vw;
	font-weight: 400;
}

.imgwrap{
	width: 100%;
	height: auto;
	margin-top: 5vh;
}

img{
	width: 100%;
	padding-top: 2vh;
	border-radius: 40px;
	overflow: hidden;
}

video{
	width: 100%;
	border-radius: 40px;
	overflow: hidden;
	border-style: solid;
  	border-width: 1.5px;
  	border-color: black;
  	border-radius: 40px;
}

.font2{
	font-family: 'Roboto Mono', monospace;
}