body{
	align-content: center;
	text-align: center;
	background: #00ff00;
	margin: 0;
}

.header{
}

.img{
	width: 90vw;
	position: absolute;
	top: 2vw;
	left: 2vw;
	opacity: 100;
}

.hover-img{
	width: 90vw;
	position: absolute;
	top: 2vw;
	left: 2vw;
	opacity: 0;
}

.header:hover .img{
	opacity: 0;
}

.header:hover .hover-img{
	opacity: 100;
}

.bodytext{
	position: absolute;
	margin-top: 40vw;
	margin-left: 2vw;
	margin-right: 2vw;
	bottom: 1vh;
	background: #00ff00;
}

a{
	color: blue;
}

a:visited{
	color: blue;
}

img{
	width: 100vw;
	height: auto;
}

h1{
	font-family: VCR OSD Mono;
	font-size: 17em;
	font-weight: 400;
	letter-spacing: normal;
	word-spacing: -0.4em;
	margin-left: 2vw;
	margin-right: 2vw;
}

h2{
	font-family: Alagard;
	font-size: 1em;
	font-weight: 200;
	line-height: 1.2;
	text-align: left;
}